# font binaries
*.woff
*.woff2
*.eot
*.ttf

# compiled files
pub/bundle*
pub/proof.html
# compiled by the preprocessor to represent all story data
src/stories.js
# compiled by the preprocessor to represent all story pathways
src/paths.js
# compiled


# node-specific ignores
node_modules

# macOS-specific ignores
.DS_Store
